.git
.gitignore
.idea
.vscode
vendor
writable/cache/*
writable/logs/*
writable/session/*
writable/uploads/*
!writable/cache/index.html
!writable/logs/index.html
!writable/session/index.html
!writable/uploads/index.html
tests
.env
db.dump
*.dump
.DS_Store
