CI_ENVIRONMENT = production

database.default.hostname = db
database.default.database = db
database.default.username = root
database.default.password = root
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

app.baseURL = http://localhost:8080/
